.Encabezado{
    background-color: rgb(0, 195, 255) ;
    padding: 30px;
}
.Navegacion{
    background-color: rgba(191, 231, 200, 0.678) ;
    padding: 30px;
}
.contenedor{
    background-color: rgb(0, 255, 128);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Principal{
    background-color: rgb(80, 98, 255);
    padding: 30px;
    grid-column: 2/5;
}
.lateral{
    background-color: rgb(20, 220, 37);
    padding: 30px;
    grid-column: 1/2;
}
.pie{
    background-color: darkorchid;
    padding: 30px;
}